.bg-pink{
    background-color: rgba(255, 192, 203, 0.866);
}
.nav-item{
    &:hover {
        background-color: rgba(86, 86, 86, 0.352);
        border-radius: 5px;
        border: solid white 1px;
        scale: 1,1;
        transition: 0,5s;
        padding: 5px;
    }
}